

    {% extends 'header.html.twig' %}  

{% block title %}
  livre par auteur
{% endblock %}

{% block body %}
<h1  class=" text-aligne text-center"> livre par auteur </h1>

    {{ form_start(form) }}
<div class ="mx-auto container  ml-5"> 
    {{ form_widget(form) }} 

       <button type="submit"  name="save_button" class="btn btn-primary  mt-4">{{ 'Valider' }}</button>  
   </div>
    {{ form_end(form) }}
 
{% endblock %} 
